<html>
<head>
    <meta charset="UTF-8">
    <title>Admin User Add</title>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/css.tpl'); ?>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/tools.js'); ?>
</head>
<body>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/menu.tpl'); ?>
    <main>
    <h2>管理者ユーザ追加</h2>
    <?php if (!empty($ErrorMsg)): ?>
    <p>
        <?php
            foreach($ErrorMsg as $msg) {
                echo $msg;
            } 
        ?>
    </p>
    <?php endif; ?>
    <form action="/<?php echo PWF_ADMIN_DIR;?>/Users/addConfirm" method="post">
        ID: <input type="text" id="Id" name="Id" value="<?php echo $AddUser['ID'];?>"/>(REQUIRED:4文字以上12文字以内の半角英数字)<br />
        パスワード: <input type="password" id="pwd" name="pwd" value="<?php echo $AddUser['Password'];?>"/>(REQUIRED:8文字以上の半角英数字)<br />
        パスワード(確認用): <input type="password" id="pwd" name="cpwd" value="<?php echo $AddUser['Password'];?>"/>(REQUIRED:8文字以上の半角英数字)<br />
        カテゴリ:
        <select id="category" name="category">
            <option value="<?php echo PWF_AUTH_CATEGORY_DEVEL; ?>"<?php echo $AddUser['Category'] == PWF_AUTH_CATEGORY_DEVEL ? ' selected' :''; ?>><?php echo PWF_AUTH_CATEGORY_NAME[PWF_AUTH_CATEGORY_DEVEL]; ?></option>
            <option value="<?php echo PWF_AUTH_CATEGORY_MANAGE; ?>"<?php echo $AddUser['Category'] == PWF_AUTH_CATEGORY_MANAGE ? ' selected' :''; ?>><?php echo PWF_AUTH_CATEGORY_NAME[PWF_AUTH_CATEGORY_MANAGE]; ?></option>
        </select>
        <br />
        レベル:
        <select id="level" name="level">
            <option value="<?php echo PWF_AUTH_LEVEL_BOTTOM; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_BOTTOM ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_BOTTOM] ?></option>
            <option value="<?php echo PWF_AUTH_LEVEL_LOW; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_LOW ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_LOW] ?></option>
            <option value="<?php echo PWF_AUTH_LEVEL_MIDDLE; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_MIDDLE ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_MIDDLE] ?></option>
            <option value="<?php echo PWF_AUTH_LEVEL_HIGH; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_HIGH ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_HIGH] ?></option>
            <option value="<?php echo PWF_AUTH_LEVEL_TOP; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_TOP ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_TOP] ?></option>
            <?php if ($UserInfo->Level >= PWF_AUTH_LEVEL_MASTER): ?>
            <option value="<?php echo PWF_AUTH_LEVEL_MASTER; ?>"<?php echo $AddUser['Level'] == PWF_AUTH_LEVEL_MASTER ? ' selected':''; ?>><?php echo PWF_AUTH_LEVEL_NAME[PWF_AUTH_LEVEL_MASTER] ?></option>
            <?php endif; ?>
        </select>
        <br />
        プロフィール:<br />
        名前: <input type="text" id="name" name="name" value="<?php echo $AddUser['Name']; ?>" />(REQUIRED)<br />
        メール: <input type="email" id="mail" name="mail" value="<?php echo $AddUser['Mail']; ?>" /><br />
        <input type="hidden" id="token" name="Token" value="<?php echo $Token;?>" />
        <input type="submit" value="send" class="btnSubmit" />
    </form>
    </main>
    <button class="btnJump" onclick='hrefJump("/<?php echo PWF_ADMIN_DIR;?>/Users/list");'>リストへ戻る</button>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/footer.tpl');?>
</body>
</html>
