<html>
<head>
    <meta charset="UTF-8">
    <title>Lapse Done</title>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/css.tpl'); ?>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/tools.js'); ?>
</head>
<body>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/menu.tpl'); ?>
    <main>
        <h3>設定完了</h3>
    <?php echo $EditUser->Profile['Lid']; ?>は<?php echo $DateTime; ?>で失効されます。<br />
    </main>
    <br />
    <button class="btnJump" onclick='hrefJump("/<?php echo PWF_ADMIN_DIR;?>/Users/list");'>リストへ戻る</button>
<?php include(PWF_ADMIN_VIEW_PATH . 'common/footer.tpl');?>
</body>
</html>